# .bashrc

# Source global definitions
if [ -f /etc/bashrc ]; then
	. /etc/bashrc
fi

# User specific environment
if ! [[ "$PATH" =~ "$HOME/.local/bin:$HOME/bin:" ]]
then
    PATH="$HOME/.local/bin:$HOME/bin:$PATH"
fi
export PATH

# Uncomment the following line if you don't like systemctl's auto-paging feature:
# export SYSTEMD_PAGER=

# User specific aliases and functions


# Oracle Settings
#
ORACLE_BASE=/u01/app/grid
ORACLE_HOME=/u01/app/21c/grid

PATH=$PATH:$HOME/bin:$ORACLE_HOME/bin

export PATH ORACLE_BASE ORACLE_HOME
export PS1=`hostname`'@$LOGNAME:$PWD> '

alias sqlss='sqlplus / as sysdba'
alias gb="cd ${ORACLE_BASE}"
alias gh="cd ${ORACLE_HOME}"

