ALTER SESSION SET "_ORACLE_SCRIPT"=true;
CREATE USER oracleuser IDENTIFIED BY changeme;
GRANT CREATE SESSION TO oracleuser;
GRANT CREATE TABLE TO oracleuser;
GRANT UNLIMITED TABLESPACE TO oracleuser;
EXIT;
